{% extends 'base.html' %}

{% block title %}
main page
{% endblock title %} 


{% block content %}
<form action="" method="POST" class="ui form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="ui button primary">Confirm</button>
</form>
{% if users %}
    {% for user in users %}
        <p>User: {{ user.username }} Date_joined: {{ user.date_joined }} Avatar: {{ user.avatar }}</p>
        <img src="{{user.avatar}}" width="100px" height="100px" />
    {% endfor %}
{% endif %}
{% endblock content %} 